<a href="https://colab.research.google.com/github/Vivek432190/Public/blob/main/Practice%20problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Write a Python program which accepts the radius of a circle from the user and compute the area

In [8]:
r = int(input("Please enter radius of a circle"))
area = 3.14 * (r**2)
print ("Area of circle is",area)

Please enter radius of a circle2
Area of circle is 12.56

In [11]:
#Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [10]:
name = str(input("Enter name:"))
rollno = str(input("Enter the roll number:"))
mark = str(input("Enter the mark:"))
print ("Name is",name,"Roll No is",rollno,"Mark is",mark)

Enter name:Hatim
Enter the roll number:2
Enter the mark:21
Name is Hatim Roll No is 2 Mark is 21

In [12]:
#Write a Python program to get the largest number from a list.

In [22]:
Numbers = []
n = int(input("Enter no of elements in the list"))
for i in range(0,n):
  ele = int(input("Enter elements"))
  Numbers.append(ele)
print("Max no is",max(Numbers))

Enter no of elements in the list5
Enter elements1
Enter elements2
Enter elements3
Enter elements4
Enter elements5
Max no is 5

In [23]:
#Write a Python program to accept a string value from the user and display the count of each character in that string

In [47]:
word = "aassffjj"
freq = {}
for i in word:
  if i in freq:
    freq[i]+= 1
  else:
    freq[i]=1
print(freq)
print("Count of characters is:\n" + str(freq))

{'a': 2, 's': 2, 'f': 2, 'j': 2}
Count of characters is:
{'a': 2, 's': 2, 'f': 2, 'j': 2}

In [48]:
'''Write a Python program to copy element 44 and 55 from the following tuple into a new tuple.
tuple1 = (11, 22, 33, 44, 55, 66)'''

'Write a Python program to copy element 44 and 55 from the following tuple into a new tuple.\ntuple1 = (11, 22, 33, 44, 55, 66)'

In [51]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3],tuple1[4]
print(tuple2)

(44, 55)